<div class="my-ctn" >

    <h5 mat-dialog-title></h5>
    <div mat-dialog-content class="sb">
        <form (ngSubmit)="onYesClick()" class="formulaire" [formGroup]="formulaire">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <th>
                            titre
                        </th>
                        <td>
                            <input style="width: 100%;" type="text" name="titre" formControlName="titre">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Slug
                        </th>
                        <td>
                            <input style="width: 100%;"  type="text" name="slug" formControlName="slug">
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <!-- <button >Sauvegarder</button> -->
            <!-- <button type="button" (click)="annulerAjout()">Annuler</button> -->
            <mat-dialog-actions>
                <button type="button" class="btn" (click)="onNoClick()">Annuler</button>
                <button type="button" class="btn" [disabled]="!formulaire.valid"
                    (click)="onYesClick()">Confirmer</button>
            </mat-dialog-actions>
        </form>
    </div>


</div>
