<h1>Gestion des Etudiants</h1>

  <!-- <span>{{searchExpression}}</span> -->
  <label for="search">Recherche : </label>
  <input id="search" type="text" [(ngModel)]="searchExpression" />
  <button (click)="rechercher()">Rechercher</button>
  <button (click)="annulerRechercher()">Annuler</button>
  <button *ngIf="!formulaireAjoutVisible" (click)="ajouterEtudiant()">Ajouter un étudiant</button>

  <div *ngIf="formulaireAjoutVisible">
    <app-etudiant-create (annulerCreationEvent)="annulerCreation()"></app-etudiant-create>
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom complet</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actif</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="etudiants; else noUsers">
    <tr
      *ngFor="let u of etudiants | paginate: {itemsPerPage:itemsPerPage, currentPage: currentPage, totalItems:totalItems}">
      <td>{{u.nom}} {{u.prenom}}</td>
      <td>{{u.email}}</td>
      <td>{{u.role}}</td>
      <td>{{u.active?"Oui":"Non"}}</td>
      <td>
        <a [routerLink]="'/main/etudiant/details/'+u.id"><span class="material-icons">visibility</span></a>
        <!-- <a *ngIf="u.role!='ETUDIANT'" [routerLink]="'/main/users/modify/'+u.id"><span class="material-icons">edit</span></a> -->
        <a *ngIf="u.role=='ETUDIANT'" [routerLink]="'/main/etudiant/modify/'+u.id"><span class="material-icons">edit</span></a>

        <a  href="javascript:void;" (click)="supprimerEtudiant(u)" ><span class="material-icons">delete</span></a>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noUsers>
  <span class="text-danger">Aucun utilisateur trouvé !</span>
</ng-template>
<pagination-controls *ngIf="etudiants" (pageChange)="pageChanged($event)" previousLabel="Précédent" nextLabel="Suivant">
</pagination-controls>
