
<h1>Gestion des positionnements</h1>

<table class="table table-striped" *ngIf="isLoaded">
    <thead>
        <th>id</th>
        <th>etudiant</th>
        <th>niveau Debut</th>
        <th>niveau Fin</th>
    </thead>
    <tbody>
    <tr *ngFor="let p of positionnements">
        <td>{{p.id}}</td>
        <td>{{p.etudiantId}}</td>
        <!-- <td [style]="'background-color:'+p.codeHexNiveauDebut"><div ></div></td> -->
        <td><app-niveau-cell [niveauId]="p.niveauDebutId"></app-niveau-cell></td>
        <td><app-niveau-cell [niveauId]="p.niveauFinId"></app-niveau-cell></td>
    </tr>
    </tbody>
</table>
