<h1>Détails de la promotion</h1>
<button routerLink="/main/promotions">Retour</button>

<div *ngIf="currentPromo">
  <div>
    <span *ngIf="tp">Titre Professionnel:{{currentPromo.titreProfessionnelId | titrePro}}</span>
    <br>
    <span>Ville: {{currentPromo.villeId | ville }}</span>
    <br>
    <span>Date Début:{{currentPromo.dateDebut}}</span>
    <br>
    <span>Date Fin:{{currentPromo.dateFin}}</span>

  </div>
  <div>
    <label for="search">Recherche: </label>
    <input id="search" type="text" [(ngModel)]="searchExpression" />
    <button type="button" (click)="rechercher()">Rechercher</button>
    <button type="button" (click)="annulerRechercher()">Annuler recherche</button>
    <button *ngIf="!afficherFormulaireAjoutEtudiant" (click)="ajouterEtudiant()">Ajouter un étudiant</button>
  </div>

  <div *ngIf="afficherFormulaireAjoutEtudiant">

    <label for="recherche etudiant">Rechercher</label>
    <input type="text" [(ngModel)]="searchStudentToAdd" (input)="rechercherEtudiantAjout()">
    <select [(ngModel)]="etudiantAjoutId">
      <option *ngFor="let e of etudiantsBuffer" [value]="e.id">{{e.nom}} {{e.prenom}}</option>
    </select>
    <button (click)="validerAjout()">Valider</button>
    <button (click)="annulerAjout()">Annuler</button>
    {{searchStudentToAdd}}
    <!-- <span>{{etudiantAjoutId}}</span>   -->
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom complet</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actif</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="etudiantsInPromo; else noData">
      <tr
        *ngFor="let u of etudiantsInPromoBuffer | paginate: {itemsPerPage:itemsPerPage, currentPage: currentPage, totalItems:totalItems}">
        <td>{{u.nom}} {{u.prenom}}</td>
        <td>{{u.email}}</td>
        <td>{{u.role}}</td>
        <td>{{u.active?"Oui":"Non"}}</td>
        <td>
          <a><span class="material-icons">visibility</span></a>
          <a href="javascript:" (click)="removeEtudiant(u)"><span class="material-icons">delete</span></a>
          <!-- <a *ngIf="u.role!='ETUDIANT'" [routerLink]="'/main/users/modify/'+u.id"><span class="material-icons">edit</span></a> -->
          <!-- <a *ngIf="u.role=='ETUDIANT'" [routerLink]="'/main/etudiant/modify/'+u.id"><span class="material-icons">edit</span></a> -->

          <!-- <a  href="javascript:void;" (click)="supprimerEtudiant(u)" ><span class="material-icons">delete</span></a> -->
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="etudiantsInPromo" (pageChange)="pageChanged($event)" previousLabel="Précédent"
    nextLabel="Suivant">
  </pagination-controls>
  <ng-template #noData>
    <span class="text-danger">Aucun utilisateur trouvé !</span>
  </ng-template>
</div>