<div >
    <h2>Modifier un Étudiant</h2>
    <div class="form-ctn">
        <form (ngSubmit)="modifyUser()" class="formulaire" [formGroup]="modifierEtudiantFormulaire">
            <table>
                <tbody>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <td>
                            <input type="text" name="nom" formControlName="nom">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Prenom
                        </th>
                        <td>
                            <input type="text" name="prenom" formControlName="prenom">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Email
                        </th>
                        <td>
                            <input type="email" name="email" formControlName="email">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Mot de passe
                        </th>
                        <td>
                            <input type="text" name="motDePasse" formControlName="password">
                        </td>
                    </tr>
                    <tr>
                        <th>Actif</th>
                        <td>
                            <select formControlName="actif">
                                <option value="true">Oui</option>
                                <option value="false">Non</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button [disabled]="!modifierEtudiantFormulaire.valid">Sauvegarder</button>
        </form>
    </div>
    
    <button type="button" class="my-btn" routerLink="/main/etudiant">Retour à la liste des étudiants</button>
    </div>