.main-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  max-width: 100vw;
 
  /* border: solid green 1px; */
}

.sidebar {
  /* border: solid red 1px; */
  width: 150px;
  word-wrap: break-word;
  font-size: 0.8em;
  /* margin-top: 50px; */
  height: 100%;
  position: fixed;
  border-right: solid black 2px;
  /* position: static; */
}

.main-content {
  /* border: solid red 1px; */
  /* margin: 5px 3px; */
  margin-left: 5px;
  /* margin-right: 20px; */
  width: 100%;
  /* height: 100%; */
  margin-left: 150px;
}
