<div class="nav">

    <span class="test">Bonjour, {{currentUsername}}</span>
    <button routerLink="/home" >Accueil</button>
    <button routerLink="/main/users">Utilisateurs</button>
    <button routerLink="/main/etudiant">Etudiants</button>
    <button routerLink="/main/titrePro">Titres Professionnels</button>
    <button routerLink="/main/formations">Formations</button>
    <button routerLink="/main/interventions">Interventions</button>
    <button routerLink="/main/blocComp">Blocs de compétences</button>
    <button routerLink="/main/promotions">Promotions</button>
    <button routerLink="/main/positionnements">Positionnements</button>
    <button routerLink="/main/epreuve">Epreuves</button>
    <button routerLink="/main/niveau">Niveaux</button>
    <!-- <button>Evaluations</button> -->
    <!-- <button></button> -->
    <button href="" (click)="deco()">Logout</button>
    <button (click)="debug()">debug</button>
    <span>{{currentUser.typeUser}}</span>
</div>
